.tokenSelector:hover {
  opacity: 0.8;
}

.readOnly {
  cursor: default;
}

.readOnly:hover {
  opacity: 1;
}

.symbol {
  display: flex;
  align-items: center;
  padding-right: 2px;
  margin-right: auto;
}

.chevron {
  opacity: 0.5;
  margin-left: auto;
}

.iconSkeleton {
  border-radius: 50%;
}
