.button {
  composes: bodyMedium from "../../../styles/typography.module.css";

  display: inline-flex;
  height: 20px;
  align-items: center;
  gap: 4px;
  padding: 0;
  background: transparent;
  border: none;
  color: var(--ta-color-text);
  cursor: pointer;
}

.button:disabled {
  cursor: default;
  color: var(--ta-color-text-secondary);
}
